<app-categories [args]="{parent:0, per_page:5}" #navCat></app-categories>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">P</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li *ngFor="let item of navCat.categories" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ '/news','category', item.id ]" [innerHtml]="item.name"></a>
            </li>
            

          </ul>
        </div>
      </nav>

<app-posts #latest>
    <app-carousel *ngIf="latest.posts.length > 0" [showControls]="true" [ngStyle]="{'margin-bottom': 10}">
            
        <ng-template *ngFor="let post of latest.posts" title="{{post.title}}" description="{{post.excerpt}}" carouselSlide>
            <div class="card mb-3">
                <img  style="max-height: 300px;" [src]="post.media.full" class="card-img-top" alt="post.title">
            </div>
        </ng-template>

    </app-carousel>
</app-posts>

<app-categories [args]="{per_page:10}" #cat>

        <ul class="list-group mt-3">
                <li *ngFor="let item of cat.categories" class="list-group-item" [innerHtml]="item.name"></li>
                <li *ngIf="cat.isFetching" class="list-group-item">
                    <div *ngIf="isFetching" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                    </div>
                </li>
        </ul>

</app-categories>